<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 text-center">
        <img class="img-circle" style="max-width: 200px; margin-bottom: 15px;" ng-src="uploads/{{user.username}}.jpg" alt="{{user.username}}">
        <h2>{{user.username}}</h2>
        <hr class="star-primary">
        <div>
          <p>
            User bios are still not completed, check back later to learn more about {{user.username}}!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
